body{
    color: aliceblue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://static.vecteezy.com/ti/photos-gratuite/p2/21689196-metro-gare-exces-de-vitesse-vite-former-gens-se-precipiter-a-le-electrique-former-flou-contexte-ai-genere-image-photo.jpg);
}
.splash_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://static.vecteezy.com/ti/photos-gratuite/p2/21689196-metro-gare-exces-de-vitesse-vite-former-gens-se-precipiter-a-le-electrique-former-flou-contexte-ai-genere-image-photo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; ; /* Text color */
}
.h1{
    font-size: 3em; /* Adjust the font size as needed */
    text-align: center;
    
}
